#game{
    width: 100%;
    
}
.choice-container{background-color: white;
    font-weight: 550;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.8rem;
   
}
.choice-container:hover{
    cursor: pointer;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(87, 87, 199,0.5) ;
}
.choice-prefix{
background-color: rgb(87, 87, 199);
padding: 1.5rem 2.5rem;
color: white;
}
.choice-text{
font-size: 1.3rem;
padding: 1.5rem 20px;
width: 100%;
}
.correct{
background-color: rgb(119, 228, 119);
}
.incorrect{
    background-color: rgb(229, 109, 109);
}
.hud{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
.progress{
    margin-top: 1rem;
    width: 15rem;
    border: 1px solid  rgb(87, 87, 199);
height: 3rem;
}
.progress-bar{
    background-color:  rgb(87, 87, 199);
    height:3rem;
   width: 0px;
}